.action-button {
    background-color: #292D35;
    padding: 30px ;
    flex-basis: 50%;
    color: #fff;
    font-size: 50px;
    font-family: 'Open Sans';
    font-weight: 100;
    cursor: pointer;
}
.eq {
    background-color: #F13759;
    border-bottom-right-radius: 25px;
}

.ac {
    background-color: #F15837;
    border-bottom-left-radius: 25px;
}