.calc-button {
    background-color: #292D35;
    padding: 30px;
    flex-basis: 25%;
    color: #fff;
    font-size: 35px;
    font-family: 'Open Sans';
    font-weight: 100;
    outline: 1px solid #666666;
    cursor: pointer;
}

.calc-button:hover {
    opacity: .9;
}

.zero {
    flex-basis: 78%;
}
