
body{
  background-color: #2b2b39;
}
.App {
  text-align: center;

}
.calc {
  margin: 50px auto;
  width: 450px;
  height: 635px;
  background-color: #ddd;
  border-radius: 25px;
  box-shadow: rgba(2px 2px);
}
.calc__output{
  background-color: black;
  height: 150px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  color: #fff;
  font-size: 60px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  text-align: right;
  padding: 0 20px ;
  overflow: hidden;
}
.calc__row {
  display: flex;
  flex-direction: row;
}

